<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--暴露端口号-->
    <dubbo:protocol name="dubbo" port="20880"/>
    <!--服务提供者-->
    <dubbo:application name="pinyougou-sellergoods-service"/>
    <!--注册中心-->
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <!--使用了dubbo的service注解的包路径；才能对应这些注解进行解析，拼接地址到注册中心-->
    <dubbo:annotation package="com.pinyougou.sellergoods.service.impl"/>
</beans>